 .u-section-1 {
  min-height: 318px;
}

.u-section-1 .u-sheet-1 {
  min-height: 271px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 1px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 200px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-text-1 {
  margin: 79px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 20px 0 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 7px 253px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 0 0 -25px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 7px 253px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 13px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 0 0 -25px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 7px 253px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 13px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 0 0 -25px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 7px 253px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 13px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 0 0 -25px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 53px;
  }

  .u-section-2 .u-image-2 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 53px;
  }

  .u-section-2 .u-image-3 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-right: 53px;
  }

  .u-section-2 .u-image-4 {
    height: 281px;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    height: 211px;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 211px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 211px;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 211px;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 166px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-2 {
    height: 166px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-3 {
    height: 166px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-4 {
    height: 166px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 239px;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 29px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/YN1.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  margin: 131px auto 0;
}

.u-section-3 .u-text-3 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 5px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 237px 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 168px;
}

.u-section-4 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 60px auto;
}

.u-section-4 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-4 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-4 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}