.u-section-1 .u-sheet-1 {
  min-height: 488px;
}

.u-section-1 .u-form-1 {
  height: 342px;
  width: 526px;
  margin: 60px auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}