@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
h1 {
  text-align: center;
}

h2 {
  text-align: left;
  font-size: 30px;
}

h3 {
  text-align: left;
}

.subheader {
  font-size: 25px;
}

button {
  background-color: #fc6666;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans";
  letter-spacing: 1px;
  padding: 10px 15px;
}

button:hover {
  background-color: #c13f3f;
  cursor: pointer;
}

body {
  text-align: left;
  background: #ffffff;
  position: relative;
  font-family: "Open Sans";
}

#filminderLogo {
  height: 200px;
  width: 200px;
  border-radius: 0%;
}

table {
  width: 100%;
  background: #efeaea;
  display: flex;
  justify-content: space-between;
  border-spacing: 100px 0;
  box-shadow: 2px 1px 5px;
}

/* Add a black background color to the top navigation */
.TopBar {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  position: relative;
  top: 0;
}

.tableHeader {
  margin-top: 50px;
  background-color: #fc6666;
  padding-left: 5px;
  text-align: left;
  width: 100%;
}

.pushRight {
  float: right;
  margin-left: auto;
}

.alignCenter {
  align-items: center;
}

a:link {
  color: rgb(53, 187, 236);
  font-family: "Open Sans";
  text-decoration: none;
  text-align: center;
}

a:visited {
  color: rgb(35, 171, 220);
  font-family: "Open Sans";
}

/* Style the search box inside the navigation bar */
input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  height: 28.5px;
  width: 500px;
  margin-right: 16px;
  font-size: 18px;
  border: 2px solid;
}

/* Style the submit button */
form.searchbar button {
  color: white;
  font-size: 15px;
  border: 2px solid black;
  border-right: none; /* Prevent double borders */
  cursor: pointer;
}

/* Style the submit button */
td {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.CredentialForm input[type=button], .CredentialForm input[type=submit], .CredentialForm input[type=reset], .CredentialForm button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 32px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.moviePageGridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  padding-left: 10px;
  background-color: #efeaea;
}

.moviePageGridContainer .Title {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}

.moviePageGridContainer .ImageAndInformation {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.moviePageGridContainer .ImageAndInformation img {
  height: 400px;
  max-width: 300px;
}

.moviePageGridContainer .Description {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.moviePageGridContainer .Cast {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  vertical-align: top;
}

.moviePageGridContainer .Reviews {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

.actorPageGridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  padding-left: 10px;
  background-color: #efeaea;
}

.actorPageGridContainer .Title {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}

.actorPageGridContainer .ImageAndInformation {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.actorPageGridContainer .ImageAndInformation img {
  height: 500px;
  width: 350px;
}

.actorPageGridContainer .Description {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.actorPageGridContainer .Movies {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  vertical-align: top;
}

.actorPageGridContainer .Reviews {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

.review {
  background-color: #fc6666;
  border-radius: 10px;
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */