 .u-section-1 {
  min-height: 478px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 30px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 448px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 12px;
}

.u-section-1 .u-image-1 {
  width: 246px;
  height: 246px;
  margin: 7px auto 0 59px;
}

.u-section-1 .u-list-1 {
  width: 795px;
  margin: -246px 13px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 697px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 40px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 530px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  background-image: none;
  min-height: 200px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 25px auto 0 130px;
}

.u-section-2 .u-image-1 {
  width: 90px;
  height: 134px;
  margin: -17px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -106px auto 0 130px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-group-2 {
  width: 800px;
  background-image: none;
  min-height: 226px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 25px auto 0 130px;
}

.u-section-2 .u-image-2 {
  width: 90px;
  height: 134px;
  margin: -17px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -106px auto 0 130px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-group-3 {
  width: 800px;
  background-image: none;
  min-height: 200px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 25px auto 0 130px;
}

.u-section-2 .u-image-3 {
  width: 90px;
  height: 134px;
  margin: -17px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -106px auto 0 130px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 700px;
  }

  .u-section-2 .u-group-2 {
    width: 700px;
  }

  .u-section-2 .u-group-3 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 78px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 78px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 78px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 78px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 78px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 78px;
  }
}