.u-section-1 .u-sheet-1 {
  min-height: 476px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 28px auto 0;
}

.u-section-1 .u-form-1 {
  height: 340px;
  width: 570px;
  margin: 0 auto 60px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-top: -12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}